html
{
  height: 100%;
  background-image: url("../images/stars.gif");
  background-size: auto;
  background-repeat: repeat-x repeat-y;

}
header
{
  text-align: center;
  width: 100%;
  margin: auto;
  color: white;
  height: 3vw;
  font-size: 2vw;
}
nav
{
  background-color: black;
  width: 100%;
  height: 10vw;
  margin: auto;
}
ul#nav
{
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
}
li#nav
{
  list-style-type: none;
  display: inline;
  padding: 7.5vw;
}
/*Mood section*/
ul#socialsList
{
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
}
li#socials
{
  list-style-type: none;
  display: inline;
  padding: 1.5vw;
}
.yin
{
  background-color: black;
  width: 100%;
  padding-top: 3vw;
  padding-bottom: 2vw;
  color: white;
  font-size: 2vw;
  font-family: 'Brush Script MT', cursive, "Times New Roman", Times, serif;

}
/*YinYang Section*/
ul#streamList
{
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
}
li#stream
{
  list-style-type: none;
  display: inline;
  padding: 1.5vw;
}
.yang
{
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 3vw;
  padding-bottom: 2vw;
  font-size: 2vw;
  font-family: 'Brush Script MT', cursive, "Times New Roman", Times, serif;
}
.instagram
{
    /*width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;*/
}
/*Home section*/
.PSA
{
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 3vh;
  padding-bottom: 2vw;
  font-size: 2vw;
  font-family: 'Brush Script MT', cursive, "Times New Roman", Times, serif;
}
/*images*/
.navigation
{
  width: 8vw;
  height: 8vw;
}
.stream
{
  width: 9vw;
  height: 9vw;
}
/*images*/
.artwork
{
  width: 92vw;
  height: 92vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.watchmore
{
  width: 50vw;
  height: 8vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*.stream
{
  width: 90vw;
  height: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/
.TV
{
  width: 93vw;
  height: 52vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*images*/
iframe
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1#sections
{
  text-align: center;
}
footer
{
  background-color: black;
  padding: 1vw;
  color: white;
  font-size: 1.5vw;
}
