html
{
  background-color: white;
  height: 100%;
}
header
{
  text-align: center;
  width: 100%;
  margin: auto;
  color: black;
  height: 3vw;
  font-size: 2vw;
}
nav
{
  background-color: black;
  width: 100%;
  height: 10vw;
  margin: auto;
}
ul#nav
{
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
}
li#nav
{
  list-style-type: none;
  display: inline;
  padding: 9vw;
}
/*content section*/
ul#stream
{
  text-align: center;
}
li#stream
{
  list-style-type: none;
  display: inline;
  padding: 3vw;
}
.yin
{
  background-color: black;
  width: 100%;
  padding-top: 3vw;
  padding-bottom: 2vw;
  color: white;
  font-size: 2vw;
}
.yang
{
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 3vw;
  padding-bottom: 2vw;
  font-size: 2vw;
}
.PSA
{
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 3vh;
  padding-bottom: 2vw;
  font-size: 2vw;
}
/*images*/
.navigation
{
  width: 8vw;
  height: 8vw;
}
.stream
{
  width: 9vw;
  height: 9vw;
}
/*images*/
.artwork
{
  width: 92vw;
  height: 92vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*.stream
{
  width: 90vw;
  height: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/
.TV
{
  width: 92vw;
  height: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*images*/
iframe
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1#sections
{
  text-align: center;
}
footer
{
  background-color: black;
  padding: 1vw;
  color: white;
  font-size: 1.5vw;
}
